@using nuce.web.quanly.Models
@model List<nuce.web.quanly.Models.JsonData.QuestionJson>
@{
    ViewData["Title"] = "Nội dung đề khảo sát";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid service-categories-wrp mt-2">
    <div class="row mb-4">
        <div class="col-12">
            <a class="update-btn text-light p-2" style="text-decoration: none;" href="/survey/examquestions">← Quay lại danh sách đề khảo sát</a>
        </div>
    </div>
    <div class="row">
        @if(Model.Count == 0)
        {
            <div class="col-12">
                <h2 class="text-center text-dark">Đề khảo sát trống</h2>
            </div>
        }

        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="col-12">
                <h5 class="text-dark">
                    Câu@(i + 1). @Html.Raw(HttpUtility.HtmlDecode(Model[i].Content))
                </h5>
                <p class="mb-1 text-dark">Đáp án:</p>
                <div class="ml-4 d-flex flex-row">
                    @foreach (var answer in Model[i].Answers)
                    {
                        <p class="text-dark w-25">
                            @Html.Raw(HttpUtility.HtmlDecode(answer.Content))
                        </p>
                    }
                </div>
            </div>
        }
    </div>
</div>


