@model List<nuce.web.quanly.Models.ExamQuestions>
@{
    ViewData["Title"] = "Đề khảo sát";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-md-9">
        </div>
        <div class="col-md-3 d-flex justify-content-end">
            <a href="/survey/createexamquestions" class="btn btn-primary">Thêm đề khảo sát</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="id-datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width="100px">STT</th>
                        <th class="text-center" width="100px">Mã</th>
                        <th class="text-center">Tên</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td class="text-center">@(i + 1)</td>
                            <td class="text-center">@Model[i].code</td>
                            <td>@Model[i].name</td>
                            <td class="text-center">
                                <a class="btn btn-outline-success" href="/survey/examstructure?examQuestionId=@Model[i].id">Cấu trúc đề</a>
                                <a class="btn btn-outline-info"  href="/survey/examdetail?examQuestionId=@Model[i].id">Nội dung đề</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

