@using nuce.web.quanly.Common
@{
    ViewData["Title"] = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="~/content/css/bootstrap-select.min.css" />
}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" id="btn-statistic-survey">
                Thống kê
            </button>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg auto-clear-form-on-open" id="modal-start-report" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thống kê khảo sát</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="form-data-start-report" class="auto-validate">
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Đợt khảo sát <span class="text-danger">*</span></label>
                            <div class="col-9">
                                <select class="form-control selectpicker custom-boostrap-select" name="surveyRoundId" id="dotKhaoSat" required title="Chọn đợt khảo sát">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" id="start-report">Bắt đầu</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script>
        let surveyRounds = JSON.parse('@Html.Raw(ViewData["SurveyRoundEnd"])');
        let dotKhaoSats = $('#dotKhaoSat');
        surveyRounds.forEach(e => {
            dotKhaoSats.append(`<option value="${e.id}">${e.name} (từ ${getDateString(e.fromDate)} đến ${getDateString(e.endDate)})</option>`);
        });
        dotKhaoSats.selectpicker('refresh');

        let btnReportTotalNormal = $('#btn-statistic-survey');
        let tableReportNomalStatus = @Html.Raw(ViewData["TableReportNormalStatus"]);
        if (tableReportNomalStatus.status === @((int)TableTaskStatus.Done)) {
            if (!tableReportNomalStatus.isSuccess) {
                toastWarning('Có lỗi xảy ra khi thống kê');
            } else {
                toastSuccess('Thống kê thành công');
            }
        }
        else if (tableReportNomalStatus.status === @((int)TableTaskStatus.Doing)) {
            btnReportTotalNormal.prop('disabled', true);
            btnReportTotalNormal.html('<i class="fa fa-spinner rotation" aria-hidden="true"></i> Đang thống kê');
        }
        console.log('statistic', tableReportNomalStatus);

        btnReportTotalNormal.click(() => {
            $('#modal-start-report').modal('show');
        });

        $('#start-report').click(function () {
            if ($('#form-data-start-report').valid()) {
                $.ajax({
                    dataType: 'json',
                    method: 'Post',
                    url: '/Survey/ReportTotalNormalSurvey',
                    data: { surveyRoundId: $('#dotKhaoSat').val() },
                    timeout: 0,
                    complete: () => { }
                }).done(function (res) {
                    if (res.statusCode === 200) {
                        btnReportTotalNormal.prop('disabled', true);
                        btnReportTotalNormal.html('<i class="fa fa-spinner rotation" aria-hidden="true"></i> Đang thống kê');
                        toastSuccess('Bắt đầu thống kê');
                        $('#modal-start-report').modal('hide');
                    }
                    else {
                        try {
                            let content = JSON.parse(res.content);
                            toastError(content.message);
                        } catch {
                            toastError('Có lỗi xảy ra');
                        }
                        console.log(res);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + ': ' + errorThrown);
                    console.log(jqXHR);
                });
            }
        });


    </script>
}


