
@{
    ViewData["Title"] = "Sao lưu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style {
    <link rel="stylesheet" href="~/content/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/content/css/bootstrap-select.min.css" />
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="row mb-3">
                <div id="message-backup" class="col-12">
                </div>
                <div class="col-12">
                    <div class="form-row">
                        <div class="col-12 col-md mb-2">
                            <button id="btn-backup" class="btn btn-primary w-100">Sao lưu</button>
                        </div>
                        <div class="col-6 col-md mb-2">
                            <input id="database-name" class="form-control" type="text" placeholder="Tên cơ sở dữ liệu" />
                        </div>
                        <div class="col-6 col-md mb-2">
                            <select id="select-type" class="selectpicker form-control custom-boostrap-select" title="Chọn loại">
                                <option value="1">Sao lưu</option>
                                <option value="2">Khôi phục</option>
                            </select>
                        </div>
                        <div class="col-12 col-md mb-2 d-flex flex-row">
                            <div class="w-25 d-flex justify-content-center align-items-center clear-input" title="Nhập lại">
                                <i class="fas fa-redo"></i>
                            </div>
                            <div class="w-75">
                                <button id="btn-search" class="btn btn-secondary w-100">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <table id="datatable-backup" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Tên database</th>
                                <th class="text-center">Loại hành động</th>
                                <th class="text-center">Ngày thực hiện</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-yes-no" tabindex="-1" role="dialog" aria-labelledby="modal-yes-no" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-yes-no-title">Khôi phục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-yes-no-content">
                Xác nhận khôi phục?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button id="choose-yes" type="button" formaction="/usermanager/changestatus" class="btn btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/content/js/jquery.dataTables.min.js"></script>
    <script src="~/content/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/content/js/dataTables.config.js"></script>
    <script src="~/content/js/bootstrap-select.min.js"></script>
    <script>
        $('#select-type').selectpicker();
        let tableBackup = $('#datatable-backup').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            lengthChange: false,
            stateSave: false,
            pageLength: 15,
            language: dataTableConfig.language,
            columnDefs: [
                {
                    targets: [0,1,2,3],
                    className: 'text-center'
                }
            ],
            ajax: {
                url: '/SyncEduData/BackupHistory',
                dataType: 'json',
                contentType: 'application/json',
                type: "Post",
                data: function (d) {
                    return JSON.stringify(d);
                },
                complete: () => { }
            },
            columns: [
                {
                    data: "databaseName"
                },
                {
                    data: null,
                    name: 'type',
                    render: function (data) {
                        if (data.type === @((int)nuce.web.quanly.Common.BackupTypeDefination.BACKUP)) {
                            return `Sao lưu`;
                        }
                        else if (data.type === @((int)nuce.web.quanly.Common.BackupTypeDefination.RESTORE)) {
                            return 'Khôi phục';
                        }
                        return '';
                    }
                },
                {
                    data: null,
                    render: function (data) {
                        if (data.date == null || data.date === "") {
                            return '';
                        }
                        let regex = /(\d+)/g;
                        return dateString(new Date(+data.date.match(regex)[0]));
                    }
                },
                {
                    data: null,
                    render: function (data) {
                        if (data.type === @((int)nuce.web.quanly.Common.BackupTypeDefination.BACKUP)) {
                            return `<a title='Khôi phục lại sao lưu này' href='${data.id}'>Khôi phục</a>`;
                        }
                        else if (data.type === @((int)nuce.web.quanly.Common.BackupTypeDefination.RESTORE)) {
                            return '';
                        }
                        return '';
                    }
                }
            ]
        });
        $(`#datatable-backup_filter`).hide();
        $("#btn-search").click(() => {
            $('#datatable-backup').DataTable()
                .column(0).search($("#database-name").val())
                .column(1).search($("#select-type").val())
                .draw();
        });
    </script>
}