
@{
    ViewData["Title"] = "Danh sách sinh viên sắp tốt nghiệp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="~/content/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/content/css/dataTables.bootstrap4.min.css" />
}

<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-row">
                <div id="input-search" class="col-8 col-md mb-2">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <input class="form-control form-control" id="masv-search" type="text" placeholder="Tìm theo mã sinh viên" />
                        </div>
                        <div class="col-12 col-md-6">
                            <select class="form-control selectpicker custom-boostrap-select" name="allDotKhaoSat" id="allDotKhaoSatId" required title="Chọn đợt khảo sát">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-2 mb-2 d-flex align-items-start justify-content-center">
                    <div class="d-flex">
                        <div class="clear-input d-flex align-items-center mx-2" clear-input="#input-search" title="Nhập lại">
                            <i class="fas fa-redo"></i>
                        </div>
                        <button id="btn-search" class="btn btn-secondary">Tìm kiếm</button>
                    </div>
                </div>
                <div class="col-12 col-md mb-2 d-flex align-items-start justify-content-md-end justify-content-center">
                    <div class="d-flex">
                        <button class="btn btn-primary mx-2" id="upload">Tải lên danh sách</button>
                        <button class="btn btn-danger" id="delete-all">Xoá toàn bộ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="id-datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Đợt khảo sát</th>
                        <th class="text-center">Mã sinh viên</th>
                        <th class="text-center">Tên sinh viên</th>
                        <th class="text-center">Lớp</th>
                        <th class="text-center">TBCHT</th>
                        <th class="text-center">Xếp loại</th>
                        <th class="text-center">Được phát bài ks</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-yes-no" tabindex="-1" role="dialog" aria-labelledby="modal-yes-no" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-yes-no-title">Xác nhận xoá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-yes-no-content">
                Xoá toàn bộ sinh viên ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button id="choose-yes" type="button" class="btn btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade auto-clear-form-on-open" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modal-upload" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tải lên danh sách</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-yes-no-content">
                <div class="container-fluid">
                    <div class="form-group row">
                        <label class="col-3 col-form-label">File <span class="text-danger">*</span></label>
                        <div class="col-9">
                            <a href="/survey/DownloadTemplateUploadFileUndergraudate" target="_blank" class="btn btn-success mr-1">
                                <i class="far fa-file-excel"></i>
                                File mẫu
                            </a>
                            <input class="" id="file-upload" type="file" accept=".xlsx" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-3 col-form-label">Đợt khảo sát <span class="text-danger">*</span></label>
                        <div class="col-9">
                            <select class="form-control selectpicker custom-boostrap-select" id="surveyRoundId" required>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button id="btn-file-upload" class="btn btn-primary ml-1">
                    <i class="fas fa-upload"></i>
                    Tải lên
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/content/js/jquery.dataTables.min.js"></script>
    <script src="~/content/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/content/js/dataTables.config.js"></script>
    @if (!string.IsNullOrEmpty((string)ViewData["SurveyRoundActive"]))
    {
        <script>
            let surveyRounds = JSON.parse('@Html.Raw(ViewData["SurveyRoundActive"])');
            let dotKhaoSats = $('#surveyRoundId');
            surveyRounds.forEach(e => {
                dotKhaoSats.append(`<option value="${e.id}">${e.name} (từ ${e.fromDate != null ? getDateString(e.fromDate) : "-"} đến ${e.endDate != null ? getDateString(e.endDate) : ""})</option>`);
            });
            dotKhaoSats.selectpicker('refresh');
        </script>
    }

    @if (!string.IsNullOrEmpty((string)ViewData["AllSurveyRound"]))
    {
        <script>
            let allSurveyRound = JSON.parse('@Html.Raw(ViewData["AllSurveyRound"])');
            let allDotKhaoSat = $('#allDotKhaoSatId');
            allSurveyRound.forEach(e => {
                allDotKhaoSat.append(`<option value="${e.id}">${e.name} (từ ${e.fromDate != null ? getDateString(e.fromDate) : "-"} đến ${e.endDate != null ? getDateString(e.endDate) : ""})</option>`);
            });
            allDotKhaoSat.selectpicker('refresh');
        </script>
    }

    <script>
        var table = $('#id-datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            lengthChange: false,
            stateSave: false,
            pageLength: 20,
            language: dataTableConfig.language,
            columnDefs: [
                {
                    targets: [0, 1, 2, 3, 4, 5, 6],
                    className: 'text-center'
                }
            ],
            ajax: {
                url: '/Survey/GetAllUndergraduateStudent',
                dataType: 'json',
                contentType: 'application/json',
                type: "POST",
                data: function (d) {
                    return JSON.stringify(d);
                },
            },
            columns: [
                {
                    data: "tenDotKhaoSat",
                    name: "dotKhaoSatId"
                },
                {
                    data: "masv"
                },
                {
                    data: "tensinhvien"
                },
                {
                    data: "lopqd",
                },
                {
                    data: "tbcht",
                },
                {
                    data: "xeploai"
                },
                {
                    data: null,
                    name: "hasTheSurvey",
                    mRender: function (data, type, row) {
                        return data.hasTheSurvey ? 'Đã phát' : 'Chưa phát';
                    }
                }
            ]
        });
        $('#id-datatable_filter').hide();
        $("#btn-search").click(() => {
            table
                .column(0).search($("#allDotKhaoSatId").val())
                .column(1).search($("#masv-search").val())
                .draw();
        });
        document.getElementById("footer").scrollIntoView();

        let modalUpload = $('#modal-upload');
        $('#upload').click(function () {
            modalUpload.modal('show');
        });

        $('#btn-file-upload').click(() => {
            if ($('#file-upload').prop('files').length === 0) {
                return;
            }
            var formData = new FormData();
            formData.append("fileUpload", $('#file-upload').prop('files')[0]);
            formData.append("surveyRoundId", $('#surveyRoundId').val());
            $.ajax({
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                method: 'Post',
                url: '/Survey/UploadFileUndergraudate',
            }).done(function (res) {
                if (res.statusCode === 200) {
                    toastSuccess('Lưu thành công');
                    table.ajax.reload();
                    $('#modal-upload').modal('hide');
                }
                else {
                    try {
                        let content = JSON.parse(res.content);
                        toastError(content.message);
                    } catch {
                        toastError('Có lỗi xảy ra');
                    }
                    console.log(res);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        });

        $('#delete-all').click(() => {
            $('#modal-yes-no').modal('show');
        });

        $('#choose-yes').click(() => {
            $.ajax({
                dataType: 'json',
                method: 'Post',
                url: '/Survey/DeleteAllUndergraduateStudent',
                complete: () => { }
            }).done(function (res) {
                if (res.statusCode === 200) {
                    toastSuccess('Xoá thành công');
                    table.ajax.reload();
                    $('#modal-yes-no').modal('hide');
                }
                else {
                    try {
                        let content = JSON.parse(res.content);
                        toastError(content.message);
                    } catch {
                        toastError('Có lỗi xảy ra');
                    }
                    console.log(res);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        });

    </script>
}
