@page
@model nuce.web.khaothi.Pages.Admin.LoginModel
@{
}

<div class="container">
    <div class="row ">
        <div id="header">
            <div class="logo">
                <p>
                    <img src="/upload/image/tonghop/header_admin.png" alt="" />
                </p>
            </div>
            <div class="logo-mobile">
                <p>
                    <img src="/upload/image/tonghop/logo-mobile.png" alt="" />
                </p>
            </div>
            <ul class="menuheader">
                <li><a href="/admin" class="home">Trang chủ</a> </li>
                <li><a href="http://nuce.edu.vn/" target="_blank">Hướng dẫn</a> </li>
            </ul>
            <div class="clear">
            </div>
            <div class="menuheader1" runat="server" id="mo_menuheader">
                <a href="javascript:showmenu()">Menu </a>
                <select>
                    <option value="/admin">Trang chủ</option>
                </select>
                <div class="clearfix">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>

        <div class="body">
            <div class="col-md-6 col-xs-12">
                <form class="form_dk" method="post">
                    <div class="title">
                        ĐĂNG NHẬP
                    </div>
                    <div class="text col-xs-12 col-md-4" style="text-align: left;">
                        Tên đăng nhập
                    </div>
                    <div class="input col-xs-12 col-md-8" style="text-align: center;">
                        <input asp-for="Input.Username" class="" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text col-xs-12 col-md-4" style="text-align: left;">
                        Mật khẩu
                    </div>
                    <div class="input col-xs-12 col-md-8" style="text-align: center;">
                        <input asp-for="Input.Password" class="" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        @if (ViewData["LoginMessage"] != null)
                        {
                            <span class="text-danger">@ViewData["LoginMessage"]</span>
                        }
                    </div>
                    <div class="clearfix"></div>
                    <div class="submit col-xs-12 col-md-12" style="text-align: center; padding-bottom: 9px;">
                        <input type="submit" value="Đăng nhập"/>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form_dk">
                    <div class="title">
                        CHÚ Ý
                    </div>
                    <div class="text col-xs-12 col-md-12" style="text-align: left; padding-top: 1px; padding-right: 1px;">
                        * Hệ thống quản trị<br/>
                        <%--<i style="color:red;">Nếu anh/chị đã đổi mật khẩu sau ngày 9/6/2018 thì vui lòng đăng nhập với mật khẩu trước khi thay đổi.</i></br>--%>
                        * Khi có thắc mắc, vui lòng liên hệ Phòng KTĐB qua hotline 0912.987.567 hoặc qua email:ks.ktdb@nuce.edu.vn
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="footer">
            <p><strong>TRƯỜNG ĐẠI HỌC XÂY DỰNG</strong></p>
            <p>Địa chỉ: Số 55 đường Giải Phóng, quận Hai Bà Trưng, Hà Nội</p>
        </div>

        <a href="javascript:" id="toTop"></a>
    </div>
</div>
