@{
    ViewData["Title"] = "Trang chủ";
}
@section Breadcrumb {
    @*<li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>*@
}

<div class="row">
    <div class="col-12">
        <img id="banner-certificate" src="" 
            class="w-100 border" style="display: inline-block" />
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-8 col-12">
        <a class="mb-2"
           style="display: block; text-decoration: none"
           href="/news?catId=6">
            <div class="m-border-b-blue d-flex ">
                <span class="m-bg-blue m-section-title m-text-white p-1 pl-2 pr-2 text-uppercase">
                    <i class="fas fa-newspaper mr-2"></i>
                    Tin tức - Sự kiện
                </span>
            </div>
        </a>
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <div id="main-event">

                </div>
            </div>
            <div class="col-12 col-lg-6 mt-2 mt-md-0">
                <div id="side-event">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-2">
                    <div class="m-border-b-blue d-flex">
                        <span class="m-bg-blue text-white p-1 pl-2 pr-2 text-uppercase"><i class="fas fa-poll-h mr-2"></i>Khảo sát</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4" id="short-cut-ks-hdgd">
                        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="/home/index">
                            <div>
                                <img id="survey-student-img" src="~/Content/img/survey-student.jpg" class="w-100" />
                            </div>
                            <div class="mt-2">
                                <p class="">Khảo sát phản hồi của sinh viên về hoạt động giảng dạy của giáo viên</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" id="short-cut-ks-truoctn">
                        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="http://ktdb1.nuce.edu.vn">
                            <div>
                                <img id="survey-undergraduate-img" src="~/Content/img/survey-student.jpg" class="w-100" />
                            </div>
                            <div class="mt-2">
                                <p class="">Khảo sát phản hồi của sinh viên về chất lượng đào tạo trước tốt nghiệp</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" id="short-cut-ks-vl">
                        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="/graduatehome/index">
                            <div>
                                <img id="survey-graduated-img" src="~/Content/img/survey-student.jpg" class="w-100" />
                            </div>
                            <div class="mt-2">
                                <p class="">Khảo sát tình hình việc làm sinh viên sau tốt nghiệp</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-12">
        @Html.Partial("~/Views/News/Partials/_PartialGroupNews.cshtml")
    </div>
</div>

@section Scripts {
    <script src="~/Content/js/helper/datetime.js"></script>
    <script>
        var defaultState = {
            limitNumber: 4,
            body: {
                    draw: 1,
                    columns: [],
                    order: [],
                    start: 0,
                    length: 4,
                    search: {
                        value: '',
                        regex: false
                    }
            },
            getNewsItemDetail: function() {
                $.ajax({
                    type: 'post',
                    url: `${API_URL}/api/NewsManager/news-items/category/${TINTUC_ID}`,
                    data: JSON.stringify(defaultState.body),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(res) {
                        if (res.data != null && Array.isArray(res.data)) {
                            defaultState.handleContent(res.data);
                        }
                    },
                });
            },
            handleMainContent: function(data) {
                if (!data) return;
                const template = `<div>
                                    <img src="[image]" class="img-fluid w-100" alt="Responsive image" />
                                </div>
                                <div class="mt-2 text-justify">
                                    <a class="m-text-black m-text-decoration-none" href="[link]">
                                        <span class="m-fs-18 font-weight-bold m-text-hover-blue mb-1">
                                            [title]
                                        </span>
                                    </a>
                                    <br />
                                    <span class="text-muted m-fs-13">[entry-date]</span>
                                    <p class="text-secondary mt-1 mb-0">
                                        [description]
                                    </p>
                                </div>`;
                var entryDate = datetimeHelper.convertDateTime(new Date(data.entryDatetime));
                const resultHtml = template.replace('[image]', `${API_URL}/api/NewsManager/news-items/avatar/${data.id}?width=350&height=233`)
                                            .replace('[title]', data.title || '')
                                            .replace('[description]', data.description || '')
                                            .replace('[link]', `/news/detail?catId=${data.catId}&itemId=${data.id}`)
                                            .replace('[entry-date]', entryDate || '' );
                $('#main-event').html(resultHtml);
            },
            handleContent: function(data) {
                let resultHtml = '';
                const template = `<div class="d-flex align-items-center mb-2 m-height-70">
                                    <div class="ml-0 ml-md-2 mr-3 h-100">
                                        <img src="[image]" class="h-100" />
                                    </div>
                                    <div class="pt-1 pb-1 text-justify">
                                        <a class="m-text-black m-text-decoration-none font-weight-bold m-text-hover-blue m-fs-13" href="[link]">
                                            [title]
                                        </a>
                                    </div>
                                </div>`;
                if (data.length > 0) {
                    defaultState.handleMainContent(data[0]);
                }
                for(let i = 1; i < defaultState.limitNumber; i++) {
                    const newsItem = data[i];
                    if (typeof newsItem === 'undefined') {
                        break;
                    }
                    let title = newsItem.title;
                    const maxChar = 60;
                    if (title.length > maxChar) {
                        title = `${title.substring(0, maxChar)}...`;
                    }
                    resultHtml += template.replace('[title]', `${title || ''}`)
                                            .replace('[image]', `${API_URL}/api/NewsManager/news-items/avatar/${newsItem.id}?width=105&height=70`)
                                            .replace('[link]', `/news/detail?catId=${newsItem.catId}&itemId=${newsItem.id}`);
                };
                $('#side-event').html(resultHtml);
            },
            init: function() {
                defaultState.getNewsItemDetail();
            }
        };

        defaultState.init();
    </script>

    @Html.Partial("~/Views/News/Partials/_PartialGroupNewsJS.cshtml")
}
