@{
    ViewData["Title"] = "Trang chủ";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
}

<div class="row">
    <div class="col-md-8 col-12">
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <div id="main-event">
                    <div>
                        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="img-fluid" alt="Responsive image" />
                    </div>
                    <div class="mt-2">
                        <a class="m-text-black m-text-decoration-none" href="#">
                            <span class="m-fs-18 font-weight-bold m-text-hover-blue mb-1">
                                Thứ trưởng Bộ Mỏ và Năng lượng Campuchia đến thăm và làm việc với Viện Năng lượng nguyên tử Việt Nam
                            </span>
                        </a>
                        <br />
                        <span class="text-muted m-fs-13">20/12/2020</span>
                        <p class="text-secondary mt-1 mb-0">
                            Ngày 7/8/2018, Đoàn công tác của Bộ Mỏ và Năng lượng Campuchia gồm có ông Tun Lean - Thứ...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-2 mt-md-0">
                <div id="side-event">
                    <div class="d-flex align-items-center m-height-70">
                        <div class="ml-0 ml-md-2 mr-3 h-100">
                            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="h-100" />
                        </div>
                        <div class="pt-1 pb-1">
                            <a class="m-text-black m-text-decoration-none font-weight-bold m-text-hover-blue m-fs-13" href="#">
                                Thứ trưởng Bộ Mỏ và Năng lượng Campuchia đến thăm và làm việc với...
                            </a>
                        </div>
                    </div>

                    <div class="d-flex align-items-center m-height-70 mt-3">
                        <div class="ml-0 ml-md-2 mr-3 h-100">
                            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="h-100" />
                        </div>
                        <div class="pt-1 pb-1">
                            <a class="m-text-black m-text-decoration-none font-weight-bold m-text-hover-blue m-fs-13" href="#">
                                Thứ trưởng Bộ Mỏ và Năng lượng Campuchia đến thăm và làm việc với...
                            </a>
                        </div>
                    </div>

                    <div class="d-flex align-items-center m-height-70 mt-3">
                        <div class="ml-0 ml-md-2 mr-3 h-100">
                            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="h-100" />
                        </div>
                        <div class="pt-1 pb-1">
                            <a class="m-text-black m-text-decoration-none font-weight-bold m-text-hover-blue  m-fs-13" href="#">
                                Thứ trưởng Bộ Mỏ và Năng lượng Campuchia đến thăm và làm việc với...
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-2">
                    <div class="m-border-b-blue d-flex">
                        <span class="m-bg-blue text-white p-1 pl-2 pr-2 text-uppercase"><i class="fas fa-poll-h mr-2"></i>Khảo sát đánh giá giảng viên</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-md-4">
                        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="/account/login">
                            <div>
                                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="w-100" />
                            </div>
                            <div class="mt-2">
                                <p class="">Khảo sát phản hồi của sv về hoạt động giảng dạy của gv</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="/account/login">
                            <div>
                                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="w-100" />
                            </div>
                            <div class="mt-2">
                                <p class="">Khảo sát phản hồi của sv về chất lượng đào tạo trước tốt nghiệp</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="/account/logingraduate">
                            <div>
                                <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="w-100" />
                            </div>
                            <div class="mt-2">
                                <p class="">Khảo sát tình hình việc làm sv sau tốt nghiệp</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-12">
        @Html.Partial("~/Views/News/Partials/_PartialGroupNews.cshtml")
    </div>

@section Scripts {
    <script src="~/Content/js/helper/datetime.js"></script>
    <script>
        var defaultState = {
            limitNumber: 4,
            body: {
                    draw: 1,
                    columns: [],
                    order: [],
                    start: 0,
                    length: 4,
                    search: {
                        value: '',
                        regex: false
                    }
            },
            getNewsItemDetail: function() {
                $.ajax({
                    type: 'post',
                    url: `NewsManager/news-items/category/${TINTUC_ID}`,
                    data: JSON.stringify(defaultState.body),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(res) {
                        if (res.data != null && Array.isArray(res.data)) {
                            defaultState.handleContent(res.data);
                        }
                    },
                });
            },
            handleMainContent: function(data) {
                if (!data) return;
                const template = `<div>
                                    <img src="[image]" class="img-fluid" alt="Responsive image" />
                                </div>
                                <div class="mt-2">
                                    <a class="m-text-black m-text-decoration-none" href="[link]">
                                        <span class="m-fs-18 font-weight-bold m-text-hover-blue mb-1">
                                            [title]
                                        </span>
                                    </a>
                                    <br />
                                    <span class="text-muted m-fs-13">[entry-date]</span>
                                    <p class="text-secondary mt-1 mb-0">
                                        [description]
                                    </p>
                                </div>`;
                var entryDate = datetimeHelper.convertDateTime(new Date(data.entryDatetime));
                const resultHtml = template.replace('[image]', `${API_URL}/api/NewsManager/news-items/avatar/${data.id}`)
                                            .replace('[title]', data.title || '')
                                            .replace('[description]', data.description || '')
                                            .replace('[link]', `/news/detail?itemId=${data.id}`)
                                            .replace('[entry-date]', entryDate || '' );
                $('#main-event').html(resultHtml);
            },
            handleContent: function(data) {
                let resultHtml = '';
                const template = `<div class="d-flex align-items-center m-height-70">
                                    <div class="ml-0 ml-md-2 mr-3 h-100">
                                        <img src="[image]" class="h-100" />
                                    </div>
                                    <div class="pt-1 pb-1">
                                        <a class="m-text-black m-text-decoration-none font-weight-bold m-text-hover-blue m-fs-13" href="[link]">
                                            [title]
                                        </a>
                                    </div>
                                </div>`;
                if (data.length > 1) {
                    defaultState.handleMainContent(data[0]);
                }
                for(let i = 1; i < defaultState.limitNumber; i++) {
                    const newsItem = data[i];
                    if (typeof newsItem === 'undefined') {
                        break;
                    }
                    resultHtml += template.replace('[title]', `${newsItem.title || ''}`)
                                            .replace('[image]', `${API_URL}/api/NewsManager/news-items/avatar/${newsItem.id}`)
                                            .replace('[link]', `/news/detail?itemId=${newsItem.id}`);
                };
                $('#side-event').html(resultHtml);
            },
            init: function() {
                defaultState.getNewsItemDetail();
            }
        };

        defaultState.init();
    </script>

    @Html.Partial("~/Views/News/Partials/_PartialGroupNewsJS.cshtml")
}
