
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 mt-2 mb-2">
            <a href="/account/login" class="p-4 d-flex align-items-center" style="background-color: #0F297E; border-radius: 5px; height: 200px; text-decoration:none;">
                <h2 class="text-center text-white">
                    Khảo sát phản hồi của sinh viên về hoạt động giảng dạy của giảng viên
                </h2>
            </a>
        </div>
        @*<div class="col-12 col-md-6 mt-2 mb-2">
            <a href="" class="p-4 d-flex align-items-center" style="background-color: #0F297E; border-radius: 5px; height: 200px; text-decoration:none;">
                <h2 class="text-center text-white">
                    Khảo sát phản hồi của sinh viên về chất lượng đào tạo trước tốt nghiệp
                </h2>
            </a>
        </div>*@
        <div class="col-12 col-md-6 mt-2 mb-2">
            <a href="/account/logingraduate" class="p-4 d-flex align-items-center" style="background-color: #0F297E; border-radius: 5px; height: 200px; text-decoration:none;">
                <h2 class="text-center text-white">
                    Khảo sát phản hồi của cựu sinh viên
                </h2>
            </a>
        </div>
    </div>
</div>

