@model nuce.web.survey.student.Models.LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
    Model.Type = "GraduateStudent";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        Khảo sát tình hình việc làm sinh viên sau tốt nghiệp
    </li>
}

@Html.Partial("~/Views/Account/Partials/_PartialLogin.cshtml", Model)

@section Scripts {
    @Html.Partial("~/Views/Account/Partials/_PartialLoginJS.cshtml", Model);
}
