@model nuce.web.survey.student.Models.LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
    Model.Type = "UndergraduateStudent";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        Khảo sát phản hồi của sinh viên về chất lượng đào tạo trước tốt nghiệp
    </li>
}

@Html.Partial("~/Views/Account/Partials/_PartialLogin.cshtml", Model)
