@using nuce.web.quanly.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media (prefers-reduced-motion: reduce) {
        .collapse-custom > .collapsing {
            -webkit-transition: none;
            transition: ease;
            transition-duration: 0.5s;
        }
    }

    .collapse-custom ul {
        list-style-type: none;
        margin-left: 30px;
        transition: 0.5s;
    }

    .caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    .caret-down::before {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }
</style>
<div class="container-fluid service-categories-wrp collapse-custom" style="margin-top: 0">
    <ul class="font-weight-bold cursor-pointer">
        <li>
            <span class="caret">Quản trị tin tức</span>
            <ul id="quantri-tintuc" class="p-0 nested">
                @{
                    List<NewsCatsModel> model = (List<NewsCatsModel>)Model;
                }
                @foreach (var item in model)
                {
                    if (item.parent == -1 && model.Any(cat => cat.parent == item.id))
                    {
                        <li class="font-weight-bold cursor-pointer">
                            <span class="caret">@item.description</span>
                            <ul id="children-@item.id" class="p-0 nested">
                                @foreach (var child in model.Where(cat => cat.parent == item.id))
                                {
                                    <li>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="/newsmanagement/itemslist?catId=@child.id">
                                            @child.description
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else if (item.parent == -1)
                    {
                        <li class="font-weight-bold cursor-pointer">
                            <a href="/newsmanagement/itemslist?catId=@item.id">
                                @item.description
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li>
            <span class="caret">Quản trị danh mục</span>
        </li>
        <li>
            <span class="caret">Quản trị hình ảnh</span>
        </li>
        <li>
            <span class="caret">Quản trị thông tin liên hệ</span>
        </li>
        <li>
            <span class="caret">Quản trị nội dung</span>
        </li>
    </ul>
</div>
@section Scripts {
    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }
    </script>
}
