@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lỗi</li>
}

<div style="height: 400px;" class="d-flex justify-content-center align-items-center">
    <h1>@ViewData["Code"]-@(ViewData["Message"])</h1>
</div>

