@{
    ViewData["Title"] = "Trang web đang được xây dựng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thông báo</li>
}

<div style="height: 400px;" class="d-flex justify-content-center align-items-center">
    <p class="m-fs-22 text-center">Trang web đang được xây dựng bạn vui lòng quay lại sau</p>
</div>