@{
    ViewData["Title"] = "Khoa";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Khoa</li>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    Hoạt động giảng dạy
                </div>
                <div class="card-body">
                    <h5 class="card-title">Kết quả khảo sát hoạt động giảng dạy</h5>
                    <p class="card-text">Cho phép cán bộ xem kết quả khảo sát hoạt động giảng dạy.</p>
                    <a href="/surveyresult/faculty" class="btn btn-primary m-bg-blue m-border-blue m-bg-hover-white-blue">Xem</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    Trước tốt nghiệp
                </div>
                <div class="card-body">
                    <h5 class="card-title">Kết quả khảo sát trước tốt nghiệp</h5>
                    <p class="card-text">Cho phép cán bộ kiểm tra trạng thái bài khảo sát của sinh viên.</p>
                    <a href="/survey/undergraduatestudent" class="btn btn-primary m-bg-blue m-border-blue m-bg-hover-white-blue">Xem</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    Tình hình việc làm
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nhập bài làm khảo sát tình hình việc làm</h5>
                    <p class="card-text">Cho phép cán bộ nhập bài làm khảo sát sau khi lấy thông tin từ sinh viên.</p>
                    <a href="/survey/graduatethesurveystudent" class="btn btn-primary m-bg-blue m-border-blue m-bg-hover-white-blue">Nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
