@{
    ViewData["Title"] = "Khoa";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Khoa</li>
}

<div class="container">
    <div class="row">
        <div class="col-6 pl-0">
            <ul class="list-group">
                <li class="list-group-item"><a href="/survey/graduatethesurveystudent">Nhập bài làm khảo sát tình hình việc làm</a></li>
            </ul>

            <ul class="list-group mt-2">
                <li class="list-group-item"><a href="/surveyresult/faculty">Kết quả khảo sát hoạt động giảng dạy</a></li>
            </ul>
        </div>
    </div>
</div>
