
<div class="mb-3">
    <div class="mb-2">
        <div class="m-border-b-blue d-flex">
            <span class="m-bg-blue text-white p-1 pl-2 pr-2 text-uppercase"><i class="fas fa-bell mr-2"></i>Thông báo</span>
        </div>
    </div>
    <div id="side-announcement">
        <div class="pt-2 pb-2 m-border-b-gray">
            <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="#">
                Thông báo tuyển chọn tổ chức, cá nhân chủ trì thực hiện nhiệm vụ KH&CN cấp Bộ
                do Viện Năng...
            </a>
            <br />
            <span class="text-muted m-fs-13">20/12/2020</span>
        </div>

        <div class="pt-2 pb-2 m-border-b-gray">
            <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="#">
                Thông báo tuyển chọn tổ chức, cá nhân chủ trì thực hiện nhiệm vụ KH&CN cấp Bộ
                do Viện Năng...
            </a>
            <br />
            <span class="text-muted m-fs-13">20/12/2020</span>
        </div>
    </div>
</div>


<div class="mb-3">
    <div class="mb-2">
        <div class="m-border-b-blue d-flex">
            <span class="m-bg-blue text-white p-1 pl-2 pr-2 text-uppercase"><i class="fas fa-link mr-2"></i>Liên kết nhanh</span>
        </div>
    </div>

    <div class="pt-2 pb-2">
        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="http://ctsv.nuce.edu.vn/">
            <img src="http://dut.udn.vn/Images/UserfulLinks/home_HTTTSV.jpg" class="w-100" />
        </a>
    </div>
</div>