<div class="mb-3">
    <div id="side-announcement-container" class="mb-2" style="display: none">
        <a class="mb-2" 
            style="display: block; text-decoration: none"
            href="/news?catId=5">
            <div class="m-border-b-blue d-flex">
                <span class="m-bg-blue m-text-white m-section-title p-1 pl-2 pr-2 text-uppercase">
                    <i class="fas fa-bell mr-2"></i>
                    Thông báo
                </span>
            </div>
        </a>
        <div id="side-announcement">

        </div>
    </div>

    <div id="side-news-event-container" class="mb-2" style="display: none">
        <a class="mb-2"
           style="display: block; text-decoration: none"
           href="/news?catId=6">
            <div class="m-border-b-blue d-flex">
                <span class="m-bg-blue m-text-white m-section-title p-1 pl-2 pr-2 text-uppercase">
                    <i class="fas fa-bell mr-2"></i>
                    Tin tức - Sự kiện
                </span>
            </div>
        </a>
        <div id="side-news-event">

        </div>
    </div>
</div>

<div class="mb-3">
    <div class="mb-2">
        <div class="m-border-b-blue d-flex">
            <span class="m-bg-blue text-white p-1 pl-2 pr-2 text-uppercase"><i class="fas fa-link mr-2"></i>Liên kết nhanh</span>
        </div>
    </div>

    <div class="pt-2 pb-2">
        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="http://ctsv.nuce.edu.vn">
            <img src="~/Content/img/link-ktdb-ctsv.png" class="w-100" />
        </a>
    </div>

    <div class="pt-2 pb-2">
        <a class="m-text-black m-text-decoration-none m-text-hover-blue" href="https://daotao.nuce.edu.vn">
            <img src="~/Content/img/link-ktdb-daotao.png" class="w-100" />
        </a>
    </div>
</div>
