@using nuce.web.quanly.Models;

@{
    ViewBag.Title = "Danh mục tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid service-categories-wrp" style="margin-top: 0">
        @{List<NewsCatsModel> model = (List<NewsCatsModel>)Model; }
        @foreach (var item in model)
        {
            if (item.parent == -1 && model.Any(cat => cat.parent == item.id))
            {
                <div class="font-weight-bold cursor-pointer" 
                     data-toggle="collapse" data-target="#children-@item.id">
                    @item.description
                </div>
                <div id="children-@item.id" class="collapse">
                    @foreach (var child in model.Where(cat => cat.parent == item.id))
                    {
                    <div>
                        &nbsp;&nbsp;&nbsp;
                        <a href="/newsmanagement/itemslist?catId=@child.id">
                            @child.description
                        </a>
                    </div>
                    }
                </div>
            }
            else if (item.parent == -1)
            {
                <div class="font-weight-bold cursor-pointer">
                    <a href="/newsmanagement/itemslist?catId=@item.id">
                        @item.description
                    </a>
                </div>
            }
        }
    </div>
