@using nuce.web.quanly.Models;

@{
    ViewBag.Title = "Chi tiết bản tin";
    Layout = "";
}
<style>
    .child-fill-parent>div {
        width: 100%;
        height: 100%;
    }
</style>
<div class="row main-content-wrp child-fill-parent mt-0">
    <div class="col-12">
        <a class="update-btn text-light p-2 mb-3"
            style="text-decoration: none; display: inline-block"
            onclick="return feManagerState.changeComponent('/newsmanagement/itemslist?catId=@TempData.Peek("catId")')">
            ← Quay lại danh sách bài tin
        </a>
    </div>
    @{ NewsItemModel model = (NewsItemModel)Model; }
    <h3 class="main-color text-uppercase font-15-sm fw-600 font-25 text-center font-weight-bold">
        @(model.title)
    </h3>
    <div class="mt-2">
        @Html.Raw(model.newContent)
    </div>
</div>
