
@{
    ViewData["Title"] = "Danh sách cựu sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="~/content/css/dataTables.bootstrap4.min.css" />
}

<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="form-row">
                <div class="col-12 col-md mb-2">
                    <input class="form-control form-control" id="masv-search" type="text" placeholder="Tìm theo mã sinh viên" />
                </div>
                <div class="col-12 col-md mb-2 d-flex flex-row">
                    <div class="w-25 d-flex justify-content-center align-items-center clear-input" title="Nhập lại">
                        <i class="fas fa-redo"></i>
                    </div>
                    <div class="w-75">
                        <button id="btn-search" class="btn btn-secondary w-100">Tìm kiếm</button>
                    </div>
                </div>
                <div class="col-12 col-md mb-2">
                    <button class="btn btn-primary w-100" id="upload">Tải lên danh sách</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="id-datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Đợt tốt nghiệp</th>
                        <th class="text-center">Số vào sổ</th>
                        <th class="text-center">Mã sinh viên</th>
                        <th class="text-center">Tên sinh viên</th>
                        <th class="text-center">Xếp loại</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg auto-clear-form-on-open" id="modal-input" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Thêm đợt khảo sát</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="form-data" class="auto-validate">
                        <input name="id" hidden />
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tên đợt khảo sát</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Từ ngày</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="fromDate" id="fromDate" required data-rule-dateLessThanOrEqual="#endDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Đến ngày</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="endDate" id="endDate" required data-rule-dateGreaterThanOrEqual="#fromDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Mô tả</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="description" id="description" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Ghi chú</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="note" id="note" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Loại</label>
                            <div class="col-sm-10">
                                <select class="form-control selectpicker custom-boostrap-select" name="type" id="type" data-rule-onlyAcceptListValue="1" >
                                    <option value="1">Đánh giá chất lượng giảng dạy</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" id="save-changes" type-handle="create">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-yes-no" tabindex="-1" role="dialog" aria-labelledby="modal-yes-no" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-yes-no-title">Xác nhận xoá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-yes-no-content">
                Xoá sinh viên ?
            </div>
            <input id="delete-id" name="id" hidden />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button id="choose-yes" type="button" class="btn btn-primary">Có</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modal-upload" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="min-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tải lên danh sách</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-yes-no-content">
                <div class="container-fluid">
                    <div>

                    </div>
                </div>
                <table>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button id="save-upload" type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/content/js/jquery.dataTables.min.js"></script>
    <script src="~/content/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/content/js/dataTables.config.js"></script>
    <script>
        var table = $('#id-datatable').DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            lengthChange: false,
            stateSave: false,
            pageLength: 20,
            language: dataTableConfig.language,
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'text-center'
                }
            ],
            ajax: {
                url: '/Survey/GetAllGraduateStudent',
                dataType: 'json',
                contentType: 'application/json',
                type: "POST",
                data: function (d) {
                    return JSON.stringify(d);
                },
            },
            columns: [
                {
                    data: "dottotnghiep"
                },
                {
                    data: "sovaoso"
                },
                {
                    data: "masv"
                },
                {
                    data: "tensinhvien"
                },
                {
                    data: "xeploai"
                }
            ]
        });
        $('#id-datatable_filter').hide();
        $("#btn-search").click(() => {
            table
                .column(2).search($("#masv-search").val())
                .draw();
        });
        document.getElementById("footer").scrollIntoView();

        let modalUpload = $('#modal-upload');
        $('#upload').click(function () {
            modalUpload.modal('show');
            
        });

        let saveChanges = $('#save-changes');
        saveChanges.click(function () {
            let form = $('#form-data');
            if (form.valid()) {
                let url;
                if (saveChanges.attr('type-handle') === 'create') {
                    url = '/Survey/CreateGraduateSurveyRound';
                } else if (saveChanges.attr('type-handle') === 'update') {
                    url = '/Survey/UpdateGraduateSurveyRound';
                }
                $.ajax({
                    data: getFormData('#form-data'),
                    dataType: 'json',
                    method: 'Post',
                    url: url,
                    complete: () => { }
                }).done(function (res) {
                    if (res.statusCode === 200) {
                        table.ajax.reload();
                        $('#modal-input').modal('hide');
                    }
                    else {
                        console.log(res);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + ': ' + errorThrown);
                    console.log(jqXHR);
                });
            }
        });

        function createClick() {
            $('#modal-input').modal('show');
            $('#modal-title').html('Thêm đợt khảo sát');
            saveChanges.attr('type-handle', 'create');
        }

        function updateClick(id) {
            $('#modal-input').modal('show');
            $('#modal-title').html('Cập nhật đợt khảo sát');
            saveChanges.attr('type-handle', 'update');
            $.ajax({
                dataType: 'json',
                method: 'Get',
                url: `/Survey/GetGraduateSurveyRoundById?id=${id}`,
                timeout: 0,
                complete: () => { }
            }).done(function (res) {
                if (res.statusCode === 200) {
                    if (res.content != "") {
                        let content = JSON.parse(res.content);
                        fillFormData('#form-data', content);
                    }
                }
                else {
                    console.log(res);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        }

        function deleteClick(id) {
            $('#modal-yes-no').modal('show');
            $('#delete-id').val(id);
        }

        $('#choose-yes').click(function () {
            $.ajax({
                data: { id: $('#delete-id').val() },
                dataType: 'json',
                method: 'Post',
                url: '/Survey/DeleteGraduateSurveyRound',
                complete: () => { }
            }).done(function (res) {
                if (res.statusCode === 200) {
                    table.ajax.reload();
                    $('#modal-yes-no').modal('hide');
                }
                else {
                    console.log(res);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + ': ' + errorThrown);
                console.log(jqXHR);
            });
        });

    </script>
}
