@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div style="height: 400px;" class="d-flex justify-content-center align-items-center">
    <h1>@ViewData["Code"]-@(ViewData["Message"])</h1>
</div>

