
@{
    ViewData["Title"] = "Xác thực hoàn thành bài khảo sát";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Xác thực hoàn thành bài khảo sát</li>
}

