@page
@model nuce.web.manager.Pages.Admin.Survey.CreateAnswerModel
@{
    ViewData["Title"] = "Thêm đáp án";
}

<div class="col-sm-12">
    <div style="padding-top: 5px; text-align: center; font-weight: bold; color: red;">
        <b>Thêm đáp án cho câu hỏi:</b>
        <br />
        @Model.QuestionContent
    </div>
</div>

<div class="col-sm-12">
    <div style="padding-top: 5px; text-align: center; font-weight: bold; color: red;">
        @ViewData["ErrorMessage"]
    </div>
</div>
<form class="col-md-12 col-xs-12" method="post">
    <input asp-for="QuestionContent" type="hidden" />
    <input asp-for="QuestionId" type="hidden" />
    <div class="form-group">
        <label for="ma">Mã:</label>
        <input asp-for="AnswerCreate.dapAnId" class="form-control" type="number" />
        <span asp-validation-for="AnswerCreate.dapAnId" class="text-danger" style="display: block;"></span>
    </div>
    <div class="form-group">
        <label for="noidung">Nội dung:</label>
        <textarea asp-for="AnswerCreate.content" class="form-control"></textarea>
        <span asp-validation-for="AnswerCreate.content" class="text-danger" style="display: block;"></span>
    </div>
    <div class="form-group">
        <label for="thutu">Thứ tự:</label>
        <input asp-for="AnswerCreate.order" class="form-control" type="number" />
        <span asp-validation-for="AnswerCreate.order" class="text-danger" style="display: block;"></span>
    </div>
    <input asp-for="AnswerCreate.cauHoiId" type="hidden" />
    <input asp-for="AnswerCreate.cauHoiGId" type="hidden" />
    <div class="form-group">
        <input type="submit" value="Thêm" class="btn btn-primary" />
        <a href="/admin/survey/answer?questionId=@Model.QuestionId" class="btn btn-primary">Quay lại danh sách</a>
    </div>
</form>

@section Scripts {
    <script type="text/javascript" src="~/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" language="javascript">
        tinyMCE.init({
            mode: "textareas"
        });
    </script>
}