
@{
    ViewData["Title"] = "Khảo sát sinh viên nhập học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Khảo sát sinh viên nhập học K66</li>
}

<div class="row">
    <div class="col-12 text-center">
        <div class="m-fs-19 font-weight-bold mb-3">Khảo sát sinh viên nhập học K66</div>
        <div>Bạn vui lòng nhấp vào đường link bên dưới để thực hiện khảo sát</div>
        <div class="font-italic">(Khảo sát mở từ 14h00 ngày 17/10/2021 đến 14h00 ngày 20/10/2021)</div>
        <div class="mt-3">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeyPU7fcc2-M8AWoXdrl5ts-XxOoVkHvcsmnAwtiE9N5OFKZA/viewform?usp=sf_link">Tham gia khảo sát</a>
        </div>
    </div>
</div>
