
@{
    ViewData["Title"] = "Khảo sát sinh viên nhập học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a class="m-text-blue" href="/default">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Khảo sát sinh viên nhập học K66</li>
}

<div class="row">
    <div class="col-12 text-center">
        <div class="m-fs-19 font-weight-bold mb-3">Khảo sát sinh viên nhập học K66</div>
        <div>Anh chị vui lòng click vào đường link phía dưới để thực hiện khảo sát</div>
        <div class="font-italic">(Khảo sát mở cửa từ 11h00 ngày 01/10/2021 đến 24h00 ngày 08/10/2021)</div>
        <div class="mt-3">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeyPU7fcc2-M8AWoXdrl5ts-XxOoVkHvcsmnAwtiE9N5OFKZA/viewform?usp=sf_link">Đường link</a>
        </div>
    </div>
</div>

